<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{514,1542},{230,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,299}}</string>
                <key>sourceSize</key>
                <string>{230,299}</string>
            </dict>
            <key>4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>7.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1542},{510,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,382}}</string>
                <key>sourceSize</key>
                <string>{510,382}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3.png</string>
            <key>size</key>
            <string>{1028,1926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:261b1a776074b9ec8953250ba994b185:d61bda3de806bf10f4fb347986f74358:f4b3fb2dcccdcb0ee302cc6e10a27ade$</string>
            <key>textureFileName</key>
            <string>3.png</string>
        </dict>
    </dict>
</plist>
